body {
    width: 100vw;
    height: 100vh;
    background-color: #FCF6F6;
}

.profile-bar {
    width: 20%;
    height: 100%;
    background-color: #992634;
}

.portrait {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 10%;
    border: 3px solid #FCF6F6;
}

.portrait-img {
    position: absolute;
    top: -20%;
}

.divider-bar {
    margin: 35px 0 35px 0;
    width: 100%;
    border: 1px solid #fcf6f683;
}

.divider {
    width: 15px;
}

.personal-info-container {
    width: 100%;
    color: #FCF6F6;
}

.icon-container {
    margin-bottom: 15px
}

a {
    color: #FCF6F6;
}

.personal-info-section {
    width: 100%;
    padding: 10px;
    background-color: rgb(87, 87, 87);
}

.info-container {
    color: rgb(255, 255, 255);
    padding: 25px 25px 0px 25px;
}